@{
    ViewBag.Title = "Тренинг Игоря Манна в Томске";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="bg-main">
        <div class="container_12">
            <div>
                <div class="grid_12">
                    <!-- header -->
                    <header>
                        <div class="when">7 - 8 сентября</div>
                        <h1><a href="#">Игорь Манн</a></h1>
                        <div class="logo-text">Живой тренинг в Томске</div>
                        <div class="phone">(3822)&nbsp;&nbsp;<span style="font-size: 18px;">34-14-50</span></div>
                    </header><!-- end header -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
		
        <div class="flexslider">
            <ul class="slides">
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="mann"></div>
                    <div class="mann-hidden"></div>
                    <div class="flex-caption">
                        <div class="slide-text-1">Тренинг Игоря Манна</div>
                        <div class="slide-text-1" style="margin-top: -8px;">в Томске.</div>
                        <div class="slide-text-2">4 тренинга за 2 дня.</div>
                        <p style="font-size: 16px;">Маркетинговая машина<br />Прибавить оборотов/прибыли<br />WOW-маркетинг<br />Клиентомания</p>
                        @*<p class="slide-p">Маркетинг – это все, что менеджеры по продаже делать не хотят, не успевают или не могут (с)</p>*@
                        <div class="slide-text-2" style="margin-top: 20px;">До начала:</div>
                        <div id="countdown_dashboard">
			                <div class="dash months_dash">
				                <span class="dash_title">месяцев</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash days_dash">
				                <span class="dash_title">дней</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash hours_dash">
				                <span class="dash_title">часов</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash minutes_dash">
				                <span class="dash_title">минут</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash seconds_dash">
				                <span class="dash_title">секунд</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>
		                </div>
                        <form action="http://rbprofit.justclick.ru/subscribe/process/?rid[0]=iMann&tag=rbprofit_glavnaya" method="post" target="_blank" id="subscr-form-1837" onsubmit="return jc_chkscrfrm(this, true, true, false, false)" >
                            <table align="left" border="0" cellspacing="0" cellpadding="3">
                                <tbody>
                                    <tr>
                                        <td><input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_phone" type="text" onblur='if(this.value=="") this.value="Введите ваш телефон"'  onfocus='if(this.value=="Введите ваш телефон") this.value=""' value="Введите ваш телефон"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_subscribe" type="submit" value="Подписаться на акции!" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <script language="JavaScript" src="http://rbprofit.justclick.ru/media/subscribe/helper2.js.php"></script>
                            <script language="JavaScript">jc_setfrmfld()</script>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
						
        <!-- content -->
        <section class="section-1 section">
            <div class="container_12">
                <h1>Игорь Манн в Томске!<br/><div>И что?</div></h1>
                <p>Впервые в Томске Игорь Манн проведет 4 тренинга, которые НАВСЕГДА изменят Ваше представление о бизнесе, систематизируют его, помогут привлечь поток входящих клиентов и наладить работу персонала в Вашей компании.</p>
                <p>В формате 1 день 2 тренинга Вы получите знания о гарантированном привлечении клиентов (тренинг <a href="#">Маркетинговая машина</a>), о том как делать предложения от которых сложно отказаться (тренинг <a href="#">ВАУ-маркетинг</a>), о создании общественного резонанса (тренинг <a href="#">Клиентомания</a>) и также узнаете о том как пошагово увеличивать прибыль в своем бизнесе (тренинг <a href="#">Прибавить Оборотов/Прибыли</a>).</p>
                <div class="img"></div>
            </div>
        </section>
        <section class="section-2 section">
            <div class="container_12">
                <hr/>
                <h1>6 причин пойти на..<br/><div>тренинг:</div></h1>
                <ul class="list-1 indent-bot-2">
                    <li>На тренинге Вы встретите других бизнесменов Вашего уровня и выше, которые могут оказаться Вашими будущими партнерами или клиентами.</li>
                    <li>Вы сможете получить ответы на вопросы, которые беспкоят лично Вас.</li>
                    <li>Вы получите невероятное количество идей, которые можно внедрить на следующий день.</li>
                    <li>Вы сможете лично задать вопрос Игорю Манну.</li>
                    <li>Вы откроете новые горизонты для себя в Вашем бизнесе.</li>
                    <li>Вы сможете зарабатывать на 20%-1000% больше, чем сейчас, внедрив лишь часть методик, представленных на тренинге.</li>
                </ul>
                <div class="img"></div>
            </div>
        </section>
        <section class="section-3 section">
            <div class="container_12">
                <hr/>
                <h1>«Маркетинговая машина:<br/><div>как стать хорошим директором</div><div>по маркетингу»</div></h1>
                
                <h2>Для кого предназначается этот тренинг?</h2>
                <ul class="list-1 indent-bot-2" style="margin-top: 0;">
                    <li>Для владельцев и директоров по маркетингу.</li>
                    <li>Для тех, кто готовится ими стать.</li>
                </ul>

                <h2>Основная задача тренинга:</h2>
                <p>Директор по маркетингу, который придет на тренинг, после его окончания должен стать другим директором.<br/>Намного более лучшим.<br/>И его команда – через некоторое время – тоже должна стать лучше.</p>
                
                <h2>Основные темы тренинга.</h2>
                <p>Я буду говорить только о том, что Вам интересно. Вот основные темы.</p>
                <ul class="list-1 indent-bot-2" style="margin-top: 0;">
                    <li>Эволюция маркетинга не по Котлеру (какие этапы проходит компания в своем развитии маркетинга).</li>
                    <li>Горячая десятка: что ждет от маркетинга компания в первую очередь.</li>
                    <li>Точки приложения сил директора (горячие точки!) – лидз, PR, брендинг, инновации...</li>
                    <li>Части маркетинговой машины: директор (кто такой хороший директор), команда (что такое хорошая команда и как ее создавать), инструменты (чем и как работать), ресурсы (деньги).</li>
                    <li>Самый простой способ ничего не делать (и все получать).</li>
                    <li>Потому что мы команда! (поставщики, консультанты, сотрудники).</li>
                    <li>Хорошие специалисты не делают плохого маркетинга: как определить насколько хороши ваши менеджеры по маркетингу.</li>
                    <li>Консультанты: когда они Вам нужны? Как выбрать лучших? Как с ними работать?</li>
                    <li>Поставщики маркетинговых услуг: Как выбрать? Как «выжать» их них по максимуму?</li>
                    <li>Планирование маркетинга (точка зрения директора).</li>
                    <li>Бюджетирование маркетинга: просто о сложном (точка зрения директора).</li>
                    <li>Измерение эффективности маркетинга: закрываем тему (шесть законов маркетера).</li>
                    <li>Инновации нас спасут (и Вас тоже).</li>
                    <li>Лояльность: внедрение просто и быстро.</li>
                    <li>Вы – выдающийся политический деятель (о маркетинге маркетинга).</li>
                    <li>Будущее маркетинга: будь готов (что с Вашей компанией будет через год?).</li>
                    <li>100% маркетинговое зрение vs. Маркетинговая близорукость (маркетинг для партнеров, с партнерами и через партнеров).</li>
                    <li>Подводные камни в работе директора по маркетингу.</li>
                </ul>
                <p style="">Я провоцирую вопросы. Я считаю, что на тренинги нужно ходить за тремя вещами (я скажу о двух других на тренинге).<br />Третья – получить ответы на все свои вопросы.<br/>Моя практика показывает, что я могу ответить на 90% вопросов.</p>

                <div class="img"></div>
            </div>
        </section>
        <section class="section-4 section">
            <div class="container_12">
                <h1>Client Driven<br/><div>(КлиентоМанния):</div></h1>
                <p>Как оценить, создать и развить клиентоориентированность компании.</p>
                <h2>Цель тренинга:</h2>
                <p style="margin-top: 5px;">Показать, как клиентоориентированность может быть внедрена в деятельность Вашей компании – быстро, просто и недорого. И системно.</p>
                <p style="font-style: italic;"><b>Примечание:</b> из всех тем маркетинга клиентоориентированность – моя любимая. Я занимаюсь ей с 2007 года.<br />Очень хочется, чтобы как можно компаний в России стали более клиентоориентированными!</p>
                <h2>Для участника это возможность (в частности)...</h2>
                <ul class="list-1 indent-bot-2" style="margin-top: 0;">
                    <li>Полностью окунуться в тему клиентоориентированности и «заразиться» ею.</li>
                    <li>Узнать, как создать, развить и оценивать клиентоориентированность в своей компании.</li>
                    <li>И, в частности, возможность узнать о более чем 30 способах получение обратной связи от клиентов и «включить» те, которые подходят вам наилучшим образом и правилах с работы с обратной связью от ваших покупателей.</li>
                </ul>
                <h2>Особое внимание будет уделено...</h2>
                <p style="margin-top: 5px;">Практическим вопросам быстрого внедрения клиентоориентированности в компании, самым востребованным и полезным «ходам».<br/>Минимум теории – максимум практики.<br/>Размышлений на тему «вот почему важно заниматься клиенториентированностью» не будет – сразу «берем быка клиентоориентированности за рога».</p>
                <h2>Программа</h2>
                <p class="number-list"><b>1.</b> Что такое клиентоориентированность? (подсказка: это не сервис, это не маркетинг, это не лояльность).</p>
                <p class="number-list"><b>2.</b> Что попробовать сделать для удержания клиентов до клиентоориентированности: борьба с оттоком, «затыкание дыр», программы замыкания клиентов и лояльности – разложим все по полочкам.</p>
                <p class="number-list"><b>3.</b> Зачем начинать клиентоориентированность? (или продолжать развивать).</p>
                    <p class="symbol-list"><b>a.</b> Пять простых советов сразу.</p>
                    <p class="symbol-list"><b>b.</b> Что вам даст клиентоориентированность? (переводим в деньги).</p>
                    <p class="symbol-list"><b>c.</b> Вы действительно это хотите? (проверим на пяти экспресс тестах).</p>
                <p class="number-list"><b>4.</b> Составляющие клинтоориентированности -  минимум теории, максимум практики.</p>
                    <p class="symbol-list"><b>a.</b> Высокие материи/идеология (миссия, видение, слоган, принципы, правило №1) – и как эти «высокие материи» создавать (плюс множество отличных западных образцов – бери и копируй).</p>
                    <p class="symbol-list"><b>b.</b> Клиентоориентированный продукт (услуга).</p>
                    <p class="symbol-list"><b>c.</b> Точки контакта: бизнес – это всегда контактный спорт! Знать что и как делать с ними (и полный список точек контакта, как бонус).</p>
                    <p class="symbol-list"><b>d.</b> Клиентоориентированные техника и технологии (знаете ли Вы, что высокие технологии вредят высоким отношениям с клиентами?).</p>
                    <p class="symbol-list"><b>e.</b> Клиентоориентированные бизнес процедуры, процессы, подходы.</p>
                    <p class="symbol-list"><b>f.</b> Клиентоориентированный сервис (человеческий фактор) – как нанимать (правильнее выбирать), мотивировать и обучать персонал.</p>
                <p class="number-list"><b>5.</b> Хорошие сотрудники = хорошая клиентоориентированность.</p>
                    <p class="symbol-list"><b>a.</b> Мотивирование.</p>
                    <p class="symbol-list"><b>b.</b> Обучение.</p>
                    <p class="symbol-list"><b>c.</b> Обучение.</p>
                <p class="number-list"><b>6.</b> Клиент прав всегда? Клиент – король? Как правильно взаимодействовать с клиентами компании.</p>
                    <p class="symbol-list"><b>a.</b> Каких клиентов надо «увольнять»?</p>
                    <p class="symbol-list"><b>b.</b> Жалоба как подарок.</p>
                    <p class="symbol-list"><b>c.</b> Поход за обратной связью (да, и за жалобами тоже!) – более 30 способов, из которых надо выбрать подходящие именно Вам.</p>
                    <p class="symbol-list"><b>d.</b> Что делать с жалобами и замечаниями?</p>
                <p class="number-list"><b>7.</b> Лучшие зарубежные и отечественные практики и ходы.</p>
                <p class="number-list"><b>8.</b> Наш кейс («Делай как мы. Издательство «Манн, Иванов и Фербер» - от стартапа до компании мечты за 2 года»).</p>
                <p class="number-list"><b>9.</b> Что читать? (короткий обзор лучших книг).</p>
                <p class="number-list"><b>10.</b> Итак, что и как делать? (внедрение в периоде «за неделю» и до года).</p>
                <p>На семинаре Вы осознаете выбор своей компании – построение клиентоориентированности, как системы, или внедрение «фишек».</p>
                <p>Но в любом случае – выгода от участия в семинаре будет огромной.<br />Приходите обязательно!</p>
                <p>И начинайте клиентоориентированность обязательно!</p>
            </div>
        </section>
        <section class="section section-5">
            <div class="container_12">
                <h1>Wow (вау!)<br/><div>маркетинг</div></h1>
                <p style="margin-top: 5px;">Дебют тренинга: август 2011/США</p>
                <p>Бизнес возможно делать тремя способами:</p>
                <p>1) Можно продавать свои продукты или услуги дешевле – но так можно скатиться до ценовой войны и неинтересной для вас рентабельности.<br/>
                    2) Можно работать лучше – но это приводит к стрессу у руководителя и к возрастающей нагрузке на сотрудников.<br/>
                    3) И можно работать по-другому, оригинально, нестандартно, вызывая у клиентов реакцию "вау!".</p>
                <p>В этом случае и клиентов больше – и повторных покупок, и лояльность зашкаливает… в общем, одни плюсы:-).</p>
                <h2>Что можеть быть “вау”?</h2>
                <p>
                    Вау-миссия. Вау-слоган.<br />
                    Вау-название (компании, продукта или услуги).<br />
                    Вау-позиционирование.<br/>
                    Вау-продукт или вау-услуга.<br/>
                    Вау-сервис.<br/>
                    Вау-цена и вау-скидки...<br/>
                    Вау-коммерческое предложение.<br/>
                    Вау-визитная карточка.<br/>
                    Вау-реклама (наружная, печатная, в прессе…).<br/>
                    Вау-сайт.<br/>
                    Вау-буклет.<br/>
                    Вау-годовой отчет (даже если вы не думали его делать).<br/>
                    Вау-подарок.<br/>
                </p>
                <p>Возможностей сделать “вау” много.</p>
                <p>Но как? Как сделать вау?<br />И почему “вау” пока не на каждом шагу?</p>
                <p>
                    Об этом и семинар.<br/>
                    Будет много примеров, кейсов, “фишек”.<br/>
                    Разрыв шаблонов, информационный передоз, сдвиг парадигмы обещаю.<br/>
                    Но главное будет описание технологий создания “вау”.<br/>
                    Их всего три и освоить их просто.<br/>
                    Я уже знаю wow how.<br/>
                    Приходите. Научу и вашу компанию.<br/>
                </p>
                <h2>Как?</h2>
                <p>Я знаю 4 способа:</p>
                <p>
                    - «а я и не знал»
                    - «плюсы на минусы, минусы на плюсы»
                    - «карты и чек-листы»
                    - инновации
                </p>
                <p>Первые три можно научиться использовать самостоятельно – прямо во время семинара.<br/>Четвертый… на него нужно «подсаживать» всю компанию – и оно того стоит.</p>
                <p>Приходите компанией – так будет проще принять то, о чем я буду рассказывать и проще и быстрее это внедрить.</p>
                <p>Приносите Ваши материалы (визитки, упаковку, продукты, буклеты, распечатки первых или целевых страниц сайта…) – я (с красным маркером в руках) буду быстро делать диагностику “вау/не вау” и давать конкретные советы, что сделать, чтобы было вау. Это будет смесь индивидуальных консультаций с мастер-классом (назовем это мастер-консультацией).</p>
                <p>Моя задача, чтобы в конце дня Вы сказали “вау”, чтобы Вас распирало от идей и чтобы Вы встали на путь вау.</p>
            </div>
        </section>
        <section class="section section-6">
            <div class="container_12">
                <h1>Прибавить оборотов/прибыли!</h1>
                <p>Весной 2010 года один из моих клиентов (я консультировал его по повышению эффективности работы его службы маркетинга) задал мне – как мне показалось на первый взгляд довольно простой – вопрос: «Как нам увеличить оборот компании в три раза?» (да, я не ошибся, именно в три раза).</p>
                <p>Остановитесь на минутку.<br/>Подумайте: знаете ли Вы как увеличить оборот вашей компании в три раза?<br />Хорошо, пусть в два. Ладно, хотя бы на 20%?<br/>Подумайте.</p>
                <p>И тут я обнаружил, что я не знаю как ответить на этот вопрос!<br />Я взял время на размышление, а через пару дней вместе с клиентом мы, используя алгоритм, приведенный ниже, искали возможности для роста.<br/></p>
                <p>Итак, чтобы увеличить оборот, Вы можете:</p>
                <p>
                    1.	«выжать» все из точек контакта
                    2.	лучше работать с клиентами
                    3.	выжать максимум из комплекса маркетинга
                </p>
                <p>Все (правда, все).</p>
                <p>Теперь детали.</p>
                <h2>Клиенты.</h2>
                <p>
                    Вам нужно как можно больше привлекать правильных клиентов.
                    Вам нужно уметь удерживать правильных клиентов.
                    Вам нужно уметь возвращать правильных клиентов, когда они от Вас уйдут к вашим конкурентам.
                    Вы должны уметь продавать больше каждому вашему клиенту.
                </p>
                <h2>Комплекс маркетинга.</h2>
                <p>
                    <b>Позиционирование.</b><br/>
                    У Вас должно быть правильное позиционирование компании, решений и продавцов.<br/>
                    <b>Персонал.</b><br/>
                    У Вас должен быть обученный, организованный, оснащенный и мотивированный персонал коммерческой и маркетинговой служб.<br/>
                    В Вашей компании каждый должен стать «коммерсантом» (и не только!).<br/>
                    <b>Продукты.</b><br/>
                    Вы можете расширить ассортимент решений, предлагаемых клиентам.<br/>
                    Вы должны стараться удерживать ваши решения в фазе насыщения жизненного цикла продукции (создавать решения-бестселлеры).<br/>
                    Вы должны увеличить частоту потребления вашего решения (услуги, продукта).<br/>
                    Вы должны научиться ярко и мощно запускать новинки (делая решения-блокбастеры). <br/>
                    Вы можете пытаться находить «голубые океаны», рынки, где у Вас не будет конкурентов.<br/>
                    <b>Цена.</b><br/>
                    Вы должны научиться создавать ценность, чтобы продавать дорого.<br/>
                    Вы можете поднять цены (да, это можно делать).<br/>
                    Вы должны научиться сопротивляться просьбам о скидках и уметь давать их так, чтобы «это было красиво».<br/>
                    <b>Каналы продаж.</b><br/>
                    Вы должны «выжать» - по максимуму - из каждого Вашего канала продаж.<br/>
                    Вы можете увеличить время обслуживания Ваших клиентов.<br/>
                    Вы можете открыть для себя новые территории продаж, сегменты, каналы и партнеров.<br/>
                    <b>Продвижение</b><br/>
                    Вы должны проводить больше стимулирующих акций для Ваших продавцов, партнеров и клиентов.<br/>
                    Вы должны позаботься о том, чтобы Ваша реклама продавала.<br/>
                    Вы должны использовать самые «продающие» каналы коммуникаций.<br/>
                </p>
                <p>И все это надо делать:</p>
                <p>
                    •	зная, где Вы сейчас<br/>
                    •	мониторя конкурентов<br/>
                    •	имея/определив врага вне компании<br/>
                    •	опираясь на внешние знания<br/>
                    •	без бюджета!<br/>
                    •	быстро!<br/>
                    •	системно<br/>
                    •	инновационно!<br/>
                    •	расставляя  (правильно) приоритеты<br/>
                    •	на автомате!<br/>
                </p>
                <p>
                    О всех этих направлениях, а главное, тактических приемах и пойдет речь на семинаре.<br/>
                    Речь в основном пойдет об инструментах и приемах, не требующих бюджета – поэтому подзаголовок семинара может быть «Без бюджета»<br/>
                    Материалы этого семинар пересекаются с семинаром «Без бюджета» на 5% - не больше. На 95% материал этого тренинга оригинальный, новый.<br/>
                </p>
                <table>
                    <tr>
                        <td style="width: 300px;padding-top: 20px;">Напишите здесь Ваш оборот:</td>
                        <td><input id="profit" onkeyup="$('#summByPercent').val(Math.floor($('#profit').val()) * Math.floor($('#percent').val()) / 100);" style="display: inline-block;margin-left: 30px;margin-top: 20px;" type="text"/></td>
                    </tr>
                    <tr>
                        <td style="width: 300px;padding-top: 20px;">Прикиньте, на сколько процентов вы сможете увеличить его после тренинга:</td>
                        <td><input id="percent" onchange="if (Math.floor($('#percent').val()) < 25) { alert('Процент увеличения прибыли не может быть меньше 25%'); }" onkeyup="$('#summByPercent').val(Math.floor($('#profit').val()) * Math.floor($('#percent').val()) / 100);" style="display: inline-block; margin-left: 30px; margin-top: 20px;" type="text"/></td>
                    </tr>
                    <tr>
                        <td style="width: 300px;padding-top: 20px;">Сколько это в деньгах?</td>
                        <td><input id="summByPercent" readonly="readonly" style="display: inline-block;margin-left: 30px;margin-top: 20px;" type="text"/></td>
                    </tr>
                </table>
                <p>Если этой суммы хватает на оплату, то приходите.<br />И приходите с командой! Так проще и быстрее будет менять компанию!</p>
                <p>
                    Если нет… набирайте ее и приходите.<br/>
                    Под лежачий камень вода не течет.<br/>
                    Под руководителя компании, владельца, акционера, директора по развитию и маркетера, который «лежит» (не знает приемов, не учится, не получает мотивации к внедрению) деньги то же не «потекут».
                </p>
                <p>Жду вас. <br/>Не разочарую.</p>
                <p>Игорь Манн</p>
            </div>
        </section>
        <section class="section section-7">
            <div class="container_12">
                <h1>Для кого эти тренинги:</h1>
                <p>
                    - Для тех, кому надоела постоянная текучка, которая никак не может закончится, а Вы хотите сделать так, чтобы именно бизнес работал на Вас, а не Вы на бизнес<br/>
                    - Для тех, кто хочет знать и применять самые эффективные способы в привлечении клиентов, зная какой результат дает каждый способ<br/>
                    - Для тех, кто постоянно совершенствуется и ищет новы подходы в управлении собственным бизнесом<br/>
                    - Для тех, у кого накопилась куча книг по бизнес тематике, которые не дают Вам пошагового алгоритма и не дают советов конкретно по Вашему бизнесу (Вашей специфике)<br/>
                    - Для тех, кто хочет больше времени уделять себе, своей семье и в будущем передавать свой бизнес по наследству, чтобы после Вас оставалась работающая, отточенная система не требующая чрезмерной погруженности в процесс и не требующая огромных ресурсов<br/>
                    - Для тех, чья работа связана с маркетингом, обучением персонала и увеличением прибыли
                </p>
                <p>
                    Если Вы действительно хотите узнать как создавать дополнительную прибыль, как “управлять” клиентами, как  делать “вкусные” предложения для клиентов..<br/>
                    Если Вы хотите сильно улучшить Ваши познания в маркетинге, получить знания из первоисточника и познакомиться с крупными бизнесменами Томска...<br/>
                    Если Вы хотите открыть для себя новые горизонты, то... <br/>
                    эти 4 тренинга Игоря Манна специально для Вас! 
                </p>
                <p>Крутое удвоение видения/Помечтаем.../А как может быть.../А как могло бы быть.../Светлое будущее../Вы посетили тренинг, прошло 3 месяца и...:</p>
                <p style="font-style: italic;">
                    Я принял верное решение и посетил тренинг Игоря Манна в Томске. Спустя 3 месяца мой бизнес потерпел коллосальные изменения: <br/>
                    В моём бизнесе стоит очередь из клиентов и я теперь выбираю с кем мне работать, а с кем нет. <br/>
                    Мой бизнес полностью работает на меня. Я могу себе позволить перезимовать в Тайланде и когда вернусь, мой бизнес лишь вырастет, я уверен в этом на 100%, потому что у меня лояльная команда которой я могу довериться. Я могу наблюдать за бизнесом как за компьютерной игрой “Веселый фермер” с любой точки планеты. 
                </p>
                <p>
                    Хотите так же? <br/>
                    Как бы изменилась ВАША жизнь, если бы все работало как часы и прибыли были на порядки выше?<br/>
                    Ведь Вы действительно можете достичь такие результаты, посетив курс И.Манна.
                </p>
                <p>
                    А Вы Кто?<br/>
                    Здравствуйте!<br/>
                    Меня зовут Игорь Манн и я являюсь самым контентным тренером по маркетингу в России.
                </p>
                <p>
                    Кто я?<br/>
                    Маркетер<br/>
                    Для меня маркетолог – это теоретик маркетинга. А практик – маркетер.<br/>
                    Я маркетер с 1993 года.<br/>
                    Я был менеджером по маркетинговым коммуникациям, директором по маркетингу, коммерческим директором, региональным директором по маркетингу.<br/>
                    Вот отрасли, в которых я поработал – агробизнес (защита растений), фотобизнес, телеком (с двух сторон – поставщики оборудования и оператор связи), книжный бизнес, недвижимость (b2c и b2b).<br/>
                    Об одном жалею… нужно было еще больше отраслей попробовать.<br/>
                    Интернет-маркетер<br/>
                    Интернет маркетингом я начал заниматься в 2009 году. А надо было лет на 10 раньше. Признаюсь, не разглядел я его поначалу.<br/>
                    Зато догоняю — сначала «голубой океан» Kongru, теперь блокбастер LeadMachine. ? - не поняли о чём это предложение? - Вам тем более нужно на тренинг!
                </p>
                <p>
                    <b>Консультант</b><br/>
                    Консультировать я начал в 1989 году.<br/>
                    Мне это нравится. Это нравится и моим клиентам.<br/>
                    Почему я хороший консультант?<br/>
                    Во-первых, у меня редкое сочетание теории и практики.<br/>
                    Про практику Вы уже знаете, а что касается теории – то у меня за плечами более 1500 прочитанных бизнес книг, степень кандидата наук и семилетний стаж преподавания в Государственном университете управления (ГУУ им. Серго Орджоникидзе) и Всероссийской Академии внешней торговли (ВАВТ).<br/>
                    И, во-вторых, у меня замечательные партнеры.<br/>
                    <b>Спикер</b><br/>
                    Я очень хороший лектор, спикер, докладчик, модератор. Я это знаю, потому что всегда вижу реакцию слушателей и стараюсь всегда получать обратную связь от организаторов.<br/>
                    Неважно – двадцатиминутное выступление на конференции или двухдневный тренинг (открытый или корпоративный) – отличный результат гарантирован.<br/>
                    У меня 12 программ открытых тренингов и три корпоративных программы. Почему программы уникальные? Таких больше не читает никто.<br/>
                    <b>Автор</b><br/>
                    Писать мне нравится. Конечно, я еще не переплюнул своих однофамильцев – Томаса Манна и Генриха Манна, но я подбираюсь к ним..<br/>
                    <b>Вот моя книгография:</b><br/>
                    Маркетинг на 100%: как стать хорошим менеджером по маркетингу (2003)<br/>
                    PR на 100%: как стать хорошим PR менеджером (2004)<br/>
                    Маркетинговая машина: как стать хорошим директором по маркетингу (2006)<br/>
                    Маркетинг. А теперь вопросы (2008)<br/>
                    Без бюджета (2009)<br/>
                    Арифметика маркетинга для первых лиц (2010)<br/>
                    Хороший год (2011)<br/>
                    Точки контакта (2012)<br/>
                    Возвращенцы (2013)<br/>
                    Обещаю, продолжение следует (как минимум, будет еще две книги).<br/>
                    Я стараюсь придумывать что-то новое в написании книг (тут я беру пример с любимого Акунина).<br/>
                    В «Маркетинг на 100%» – самой популярной и самой именитой книге о маркетинге в России – появились «врезки» (прямая речь практиков), которые теперь стали традиционными для российских бизнес книг.<br/>
                    «Маркетинг. А теперь вопросы» – первая российская книга – FAQ.<br/>
                    «Без бюджета», на мой взгляд, новый жанр деловой книги в формате DIY (сделай это сам) и самая дорогая книга по маркетингу в России и в СНГ (и первая и единственная книга на обложке которой есть отзыв Филипа Котлера).<br/>
                    «Точки контакта» — первая рабочая тетрадь по маркетингу и самая полезная бизнес книга на мой взгляд.<br/>
                    «Возвращенцы» — первая в мире книга о маркетинге возвращения клиентов. Других нет.<br/>
                    <b>Издатель</b><br/>
                    Сейчас в издательстве я «неспящий акционер» и «посол бренда».<br/>
                    На старте мы все делили на троих, а сейчас, как могу, помогаю с выбором книг, с их продвижением и с продажами.<br/>
                    Я горжусь тем, что сделала наша команда под руководством Миши Иванова.<br/>
                    <b>Чего не будет в тренингах:</b><br/>
                    - Бесполезной теории<br/>
                    - Неизмеримых результатов (после тренинга Вы поймете что надо делать и в каком количестве)<br/>
                    - Пересказ из моих книг (я не люблю тренеров, пересказывающих свои книги, поэтому буду давать Вам совершенно другую информацию, которую в книгах я не пишу, либо пишу очень мало)<br/>
                    - Скучного изложения материала (все свои выступления я стараюсь вести крайне интересно и если вы сомневаетесь о том будет ли интересно, то напишите мне и мы вышлем Вам больше отзывов с прошлых семинаров)<br/>
                    - Неработающих инструментов (все что я даю - это вещи проверенные на практике)<br/>
                </p>
                <h2>Конкретный пример, кейс (приносите ваши визитки, но это будет через один пункт):</h2>
                <p>
                    Давайте посчитаем, уважаемые...<br/>
                    Даже если Вы не любите торопиться и купите билет по самой дорогой цене за 50 000р после окончания всех акций, то что Вы получите и что Вы потеряете?
                </p>
                <table style="text-align: center;">
                    <tr>
                        <th></th>
                        <th>Если НЕ пойдете на тренинг</th>
                        <th>Если пойдете на тренинг</th>
                    </tr>
                    <tr>
                        <td>Оплата тренинга</td>
                        <td>0р</td>
                        <td>-50 000р (возьмем самый дорогой билет)</td>
                    </tr>
                    <tr>
                        <td>Новые знания</td>
                        <td>Не получите</td>
                        <td>Получите</td>
                    </tr>
                    <tr>
                        <td>Пошаговая методика увеличения прибыли</td>
                        <td>Не будете знать</td>
                        <td>Узнаете</td>
                    </tr>
                    <tr>
                        <td>Прибыль</td>
                        <td>Такая же как и раньше</td>
                        <td>Стабильное увеличение прибыли, которая уже за месяц окупит тренинг</td>
                    </tr>
                    <tr>
                        <td>Время</td>
                        <td>Имеете 2 свободных выходных дня, но в будущем тратите столько же времени на бизнес, сколько тратите сейчас</td>
                        <td>Тратите 2 выходных дня на тренинги, затем внедряете методики из тренинга и экономите от 10% до 80% времени</td>
                    </tr>
                    <tr>
                        <td>Знакомства</td>
                        <td>По-прежнему знакомы с тем кругом людей, который у вас есть на данный момент</td>
                        <td>Новые люди, новые бизнесмены и новые знакомства, среди которых Вы сможете найти деловых партнеров</td>
                    </tr>
                </table>
                <p>Вам решать что выгоднее :)</p>
                <p>
                    <b>Советы до прохождения тренинга:</b><br />
                    - Составьте все вопросы, которые у вас имеются и пришлите нам на электронный адрес: mann@rbprofit.ru и во время тренинга Ваши вопросы зачитают и ответят на них.<br />
                    - Измерьте Ваши настоящие результаты (сколько времени тратите на бизнес, какая прибыль, как работает персонал, сколько денег тратите на бизнес и т.д.), а затем посмотрите что произойдет после прохождения тренинга и внедрения фишек<br />
                    - Если Вы раньше не читали книги И.Манна, то ознакомьтесь с ними, а еще лучше прочитайте несколько книг<br />
                    - Возьмите с собой любую Вашу продукцию (товар, фирменные ручки, распечатанные страницы сайта, фирменная символика и т.д.), затем во время тренинга будет проведен анализ эффективности Вашей продукции и будут даны советы по улучшению<br />
                    <b>Советы после прохождения тренинга:</b><br />
                    - Внедряйте все появившееся у Вас идеи немедленно или ставьте разумные сроки на внедрение каждой идеи<br />
                    - Ни в коем случае не бросайте внедрение (доводите до конца и смотрите на результат)<br />
                    - Всегда ищите новые способы, всегда тестируйте!<br />
                    - Посмотрите как улучшилась Ваша ситуация после внедрения всех идей<br />
                </p>
                <p>
                    <b>Всемирный заговор против простых и измеримых результатов:</b><br />
                    Вообще у нас считают, что путь к успешному бизнесу крайне тяжел и есть небольшое количество профессионалов-гуру, которые способны выстроить бизнес как часы и заставить его работать с максимальной отдачей. Более того многие бизнесмены не обращают внимания на простые вещи, которые лежат на поверхности и считают, что если “просто”, то это скорее всего не работает, однако практика показывает, что именно “простые” вещи (действия) приводят к максимальному результату.
                </p>
                <p>Давайте в качестве примера возьмем отдел маркетинга. Скажите, пожалуйста какова его задача, единичная измеримая задача? У Вас же в любом случае есть отдел маркетинга (или человек, который за это отвечает), даже если Вы небольшая фирма (кто-то же должен привлекать покупателей). И как вы уже поняли, ответ прозвучал в предыдущем предложении - задача маркетолога - создавать поток входящих клиентов и ничего более. Какими способами создавать это уже другой вопрос, но самое главное что есть понятная задача, которую можно измерить (привлечено 10, 100, 1000 потенциальных покупателей). Собственно о таких способах и будет идти речь.</p>
                <p>
                    <b>Есть кто-то в мире кто уже сделал и применил эти вещи, то Вы тоже сможете:</b><br />
                    Вы можете в любой момент улучшить Ваш бизнес. Само улучшение требует от недели до нескольких месяцев работы, но эти затраты окупаются в 100 кратном размере. Более того многочисленные тренинги проведенные в других городах показали, что после посещения тренинга структурированность, прибыль, работа сотрудников, уровень сервиса улучшаются в разы!<br />
                    Уже существуют те бизнесмены, которые изменили свой бизнес в лучшую сторону, значит и у Вас получится!
                </p>
                <h2>Отзывы с прошлых тренингов:</h2>
                <p>
                    Что в содержании тренинга для Вас было наиболее актуальным и ценным:<br />
                    - Практические примеры (кейсы – технология, а я и не знал!),<br />
                    - Технологии wow-маркетинг,<br />
                    - Название книг (рекомендации).<br />
                    Какие знания вы будете применять в работе уже завтра: - Расширять сознание, <br />
                    - Корректировать визитки, листовки, материалы.<br />
                    - Мыслить широко, а не узко.<br />
                    Ваши впечатления о работе тренера: - Классно! –Интересно! –Круто! – Зацепило! – WOW! <br />
                    Ваганова Татьяна, Руководитель отдела маркетинга и рекламы,<br />
                    <b>ООО ИЦ «ИСКРА»</b>
                </p>
                <p>
                    Что в содержании тренинга для Вас было наиболее актуальным и ценным: Драйверы маркетинга на ближайшее будущее, чек-листы и карты, конкретные рабочие примеры.<br />
                    Какие знания вы будете применять в работе уже завтра: Отметил для себя 14 пунктов.
                </p>
                <p>
                    Ваши впечатления о работе тренера:  Тренер ВАУ! 5+.<br />
                    Ларионов Евгений Александрович, директор,<br />
                    <b>«Любимая Обувь»</b>
                </p>
                <p>
                    Что в содержании тренинга для Вас было наиболее актуальным и ценным: Множественные примеры.<br />
                    Какие знания вы будете применять в работе уже завтра: Дополним структуру сайта, отредактируем макеты, визитки ВАУ элементом.<br />
                    Ваши впечатления о работе тренера:  Очень интересный и полезный в плане разносторонней информации, различные примеры, опыт других компаний.<br />
                    Наталья Кузнецова, менеджер по маркетингу и рекламе,<br />
                    <b>ООО «Магнат - РД»</b>
                </p>
                <p>
                    1-й раз попал к Манну… Хорошо, грамотно, доходчиво. Практически каждый тезис - прописная истина. Но мы про эти простые вещи забываем. Тренинг - хорошая систематизация имеющихся знаний и база для новых полезных  привычек. Больше всего понравилось: Вау- бизнес = Вау-доходы - вау-расходы :). Начну применять знания с проверки наших рекламных решений на предмет реализации всех вау-возможностей. Т.е. если в сценарий ролика можно воткнуть маленькую желтую собачку, существенно повышающую эффективность, - она там будет. Получил лишнее напоминание о том, что художественные средства должны быть подчинены задаче, а не наоборот.  ПрактикУМ, продолжайте двигать это направление в городе. Без вас тут будет пусто. :) Спасибо.<br />
                    <b>Малахов Денис – дизайнер «SmartMediagroup»</b>
                </p>
                <p>
                    <b>Усиление и призыв к действию:</b><br />
                    Я думаю, что все вопросы исчерпаны. Если Вы действительно хотите что-то изменить в своем бизнесе в лучшую сторону, то этот тренинг специально для Вас! <br />
                    Я буду очень рад увидеть Вас среди слушателей, до встречи на тренинге!
                </p>
                <table class="trenings-table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="header-1">Минимальная</th>
                        <th class="header-2">Стандартная</th>
                        <th class="header-3">Вип</th>
                        <th class="header-4">Супервип</th>
                    </tr>
                    <tr>
                        <td class="num">1</td>
                        <td class="trenings">Посещение одного дня тренинга Игоря Манна</td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">2</td>
                        <td class="trenings">Фотография с И.Манном</td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">3</td>
                        <td class="trenings">Участие в нетворкинг-вечеринке “Маркетеры в малине”</td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">4</td>
                        <td class="trenings">Раздаточные материалы на электронном носителе</td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">5</td>
                        <td class="trenings">Личная консультация по эффективности бизнеса от организаторов тренинга</td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                	
                    <tr>
                        <td class="num">6</td>
                        <td class="trenings">Возможность выбрать место заранее</td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">7</td>
                        <td class="trenings">Приоритетный вопрос (онлайн)*</td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">8</td>
                        <td class="trenings">Приоритетный вопрос (оффлайн)**</td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">9</td>
                        <td class="trenings">Посещение двух дней тренингов</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">10</td>
                        <td class="trenings">Горячий обед в здании конференц зала</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                	
                    <tr>
                        <td class="num">11</td>
                        <td class="trenings">Раздаточные материалы на бумажном носителе</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                	
                    <tr>
                        <td class="num">12</td>
                        <td class="trenings">Аудиозапись всего дня.</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">13</td>
                        <td class="trenings">Книга И. Манн “Маркетинг на 100%. Ремикс. Как стать хорошим менеджером по маркетингу” с автографом</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                    <tr>
                        <td class="num">14</td>
                        <td class="trenings">Обед за одним столом с Игорем Манном</td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="no"></div></td>
                        <td><div class="ok"></div></td>
                    </tr>
                	
                    <tr>
                        <td class="num"></td>
                        <td style="text-align: right; padding-right: 10px; font-weight: bold;">Итого:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="num"></td>
                        <td style="text-align: right; padding-right: 10px; font-weight: bold;">до 1 мая:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br/>
                <br/>
                <h1>Сделайте заказ прямо сейчас</h1>
                <table class="order-table">
                	<tr>
                		<td class="name">Минимальная</td>
                		<td class="name">Стандартная</td>
                		<td class="name">Вип</td>
                		<td class="name">Супервип</td>
                	</tr>
                	<tr>
                		<td><a class="order-button" style="background-color: rgb(214, 236, 49);">Заказать</a></td>
                		<td><a class="order-button" style="background-color: #B3E03F;">Заказать</a></td>
                		<td><a class="order-button" style="background-color: #7BD553;">Заказать</a></td>
                		<td><a class="order-button">Заказать</a></td>
                	</tr>
                </table>
                <p>
                    *Сначала отвечают на все вопросы присланные по электронной почте спервипами, затем отвечают на вопросы випов, затем на вопросы, купивших стандартную версию и если остается время, то отвечают на вопросы купивших минимальную версию.<br />
                    **Во время тренинга, если возникают вопросы, то сначала отвечают на вопросы супервипов, затем на вопросы випов, затем на вопросы, купивших стандартную версию и после этого на вопросы, купивших минимальную версию.
                </p>
                <h2>Партнерская программа.</h2>
                <p>Мы готовы работать с Вами по партнерской программе! За каждого 5ого привлеченного клиента мы даем Вам бесплатное место на тренинге.</p>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    
    $('#countdown_dashboard').countDown({
        targetDate: {
            'day': 7,
            'month': 9,
            'year': 2013,
            'hour': 10,
            'min': 00,
            'sec': 00
        },
        format: 'odHM'
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter20999635 = new Ya.Metrika({ id: 20999635, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20999635" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->