@{
    ViewBag.Title = "Тренинг Игоря Манна в Томске";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="bg-main">
        <div class="container_12">
            <div>
                <div class="grid_12">
                    <!-- header -->
                    <header>
                        <div class="when">7 - 8 сентября</div>
                        <h1><a href="#">Игорь Манн</a></h1>
                        <div class="logo-text">Живой тренинг в Томске</div>
                        <div class="phone">(3822)&nbsp;&nbsp;<span style="font-size: 18px;">34-14-50</span></div>
                    </header><!-- end header -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
		
        <div class="flexslider">
            <ul class="slides">
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="mann"></div>
                    <div class="mann-hidden"></div>
                    <div class="flex-caption">
                        <div class="slide-text-1">Тренинг Игоря Манна</div>
                        <div class="slide-text-1" style="margin-top: -8px;">в Томске.</div>
                        <div class="slide-text-2">4 тренинга за 2 дня.</div>
                        <p style="font-size: 16px;">Маркетинговая машина<br />Прибавить оборотов/прибыли<br />WOW-маркетинг<br />Клиентомания</p>
                        @*<p class="slide-p">Маркетинг – это все, что менеджеры по продаже делать не хотят, не успевают или не могут (с)</p>*@
                        <div class="slide-text-2">До начала:</div>
                        <div id="countdown_dashboard">
			                <div class="dash months_dash">
				                <span class="dash_title">месяцев</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash days_dash">
				                <span class="dash_title">дней</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash hours_dash">
				                <span class="dash_title">часов</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash minutes_dash">
				                <span class="dash_title">минут</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>

			                <div class="dash seconds_dash">
				                <span class="dash_title">секунд</span>
				                <div class="digit">0</div>
				                <div class="digit">0</div>
			                </div>
		                </div>
                        <form action="http://rbprofit.justclick.ru/subscribe/process/?rid[0]=iMann&tag=rbprofit_glavnaya" method="post" target="_blank" id="subscr-form-1837" onsubmit="return jc_chkscrfrm(this, true, true, false, false)" >
                            <table align="left" border="0" cellspacing="0" cellpadding="3">
                                <tbody>
                                    <tr>
                                        <td><input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_phone" type="text" onblur='if(this.value=="") this.value="Введите ваш телефон"'  onfocus='if(this.value=="Введите ваш телефон") this.value=""' value="Введите ваш телефон"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="lead_subscribe" type="submit" value="Подписаться на акции!" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <script language="JavaScript" src="http://rbprofit.justclick.ru/media/subscribe/helper2.js.php"></script>
                            <script language="JavaScript">jc_setfrmfld()</script>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
						
        <!-- content -->
        <section class="section-1 section">
            <div class="container_12">
                <h1>Игорь Манн в Томске!<br/><div>И что?</div></h1>
                <p>Впервые в Томске Игорь Манн проведет 4 тренинга, которые НАВСЕГДА изменят Ваше представление о бизнесе, систематизируют его, помогут привлечь поток входящих клиентов и наладить работу персонала в Вашей компании.</p>
                <p>В формате 1 день 2 тренинга Вы получите знания о гарантированном привлечении клиентов (тренинг <a href="#">Маркетинговая машина</a>), о том как делать предложения от которых сложно отказаться (тренинг <a href="#">ВАУ-маркетинг</a>), о создании общественного резонанса (тренинг <a href="#">Клиентомания</a>) и также узнаете о том как пошагово увеличивать прибыль в своем бизнесе (тренинг <a href="#">Прибавить Оборотов/Прибыли</a>).</p>
                <div class="img"></div>
            </div>
        </section>
        <section class="section-2 section">
            <div class="container_12">
                <hr/>
                <h1>6 причин пойти на..<br/><div>тренинг:</div></h1>
                <ul class="list-1 indent-bot-2">
                    <li>На тренинге Вы встретите других бизнесменов Вашего уровня и выше, которые могут оказаться Вашими будущими партнерами или клиентами.</li>
                    <li>Вы сможете получить ответы на вопросы, которые беспкоят лично Вас.</li>
                    <li>Вы получите невероятное количество идей, которые можно внедрить на следующий день.</li>
                    <li>Вы сможете лично задать вопрос Игорю Манну.</li>
                    <li>Вы откроете новые горизонты для себя в Вашем бизнесе.</li>
                    <li>Вы сможете зарабатывать на 20%-1000% больше, чем сейчас, внедрив лишь часть методик, представленных на тренинге.</li>
                </ul>
                <div class="img"></div>
            </div>
        </section>
        <section class="section-3 section">
            <div class="container_12">
                <hr/>
                <h1>«Маркетинговая машина:<br/><div>как стать хорошим директором</div><div>по маркетингу»</div></h1>
                
                <h2>Для кого предназначается этот тренинг?</h2>
                <ul class="list-1 indent-bot-2" style="margin-top: 0;">
                    <li>Для владельцев и директоров по маркетингу.</li>
                    <li>Для тех, кто готовится ими стать.</li>
                </ul>

                <h2>Основная задача тренинга:</h2>
                <p>Директор по маркетингу, который придет на тренинг, после его окончания должен стать другим директором.<br/>Намного более лучшим.<br/>И его команда – через некоторое время – тоже должна стать лучше.</p>
                
                <h2>Основные темы тренинга.</h2>
                <p>Я буду говорить только о том, что Вам интересно. Вот основные темы.</p>
                <ul class="list-1 indent-bot-2" style="margin-top: 0;">
                    <li>Эволюция маркетинга не по Котлеру (какие этапы проходит компания в своем развитии маркетинга).</li>
                    <li>Горячая десятка: что ждет от маркетинга компания в первую очередь.</li>
                    <li>Точки приложения сил директора (горячие точки!) – лидз, PR, брендинг, инновации...</li>
                    <li>Части маркетинговой машины: директор (кто такой хороший директор), команда (что такое хорошая команда и как ее создавать), инструменты (чем и как работать), ресурсы (деньги).</li>
                    <li>Самый простой способ ничего не делать (и все получать).</li>
                    <li>Потому что мы команда! (поставщики, консультанты, сотрудники).</li>
                    <li>Хорошие специалисты не делают плохого маркетинга: как определить насколько хороши ваши менеджеры по маркетингу.</li>
                    <li>Консультанты: когда они Вам нужны? Как выбрать лучших? Как с ними работать?</li>
                    <li>Поставщики маркетинговых услуг: Как выбрать? Как «выжать» их них по максимуму?</li>
                    <li>Планирование маркетинга (точка зрения директора).</li>
                    <li>Бюджетирование маркетинга: просто о сложном (точка зрения директора).</li>
                    <li>Измерение эффективности маркетинга: закрываем тему (шесть законов маркетера).</li>
                    <li>Инновации нас спасут (и Вас тоже).</li>
                    <li>Лояльность: внедрение просто и быстро.</li>
                    <li>Вы – выдающийся политический деятель (о маркетинге маркетинга).</li>
                    <li>Будущее маркетинга: будь готов (что с Вашей компанией будет через год?).</li>
                    <li>100% маркетинговое зрение vs. Маркетинговая близорукость (маркетинг для партнеров, с партнерами и через партнеров).</li>
                    <li>Подводные камни в работе директора по маркетингу.</li>
                </ul>
                <p style="">Я провоцирую вопросы. Я считаю, что на тренинги нужно ходить за тремя вещами (я скажу о двух других на тренинге).<br />Третья – получить ответы на все свои вопросы.<br/>Моя практика показывает, что я могу ответить на 90% вопросов.</p>

                <div class="img"></div>
            </div>
        </section>
        <section class="section-1 section">
            <div class="container_12">
                <h1>Игорь Манн в Томске.<br/><div>И что?</div></h1>
                <p>Впервые в Томске Игорь Манн проведет 4 тренинга, которые НАВСЕГДА изменят Ваше представление о бизнесе, систематизируют его, помогут привлечь поток входящих клиентов и наладить работу персонала в Вашей компании.</p>
                <p>В формате 1 день 2 тренинга Вы получите знания о гарантированном привлечении клиентов (тренинг <a href="#">Маркетинговая машина</a>), о том как делать предложения от которых сложно отказаться (тренинг ВАУ-маркетинг /*кликабельная ссылка*/), о создании общественного резонанса (тренинг Клиентомания /*кликабельная ссылка*/) и также узнаете о том как пошагово увеличивать прибыль в своем бизнесе (тренинг Прибавить Оборотов/Прибыли /*кликабельная ссылка*/).</p>
                <div class="img"></div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    
    $('#countdown_dashboard').countDown({
        targetDate: {
            'day': 7,
            'month': 9,
            'year': 2013,
            'hour': 10,
            'min': 00,
            'sec': 00
        },
        format: 'odHM'
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter20999635 = new Ya.Metrika({ id: 20999635, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20999635" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->