/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 10px;
	top: 83px; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 138px; /* match ul width */
	top: -24px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
.sf-menu > li  {
	background: #393939; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5MzkzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iIzNhM2EzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzJhMmEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #393939 0%, #3a3a3a 18%, #2a2a2a 61%, #272727 80%, #272727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393939), color-stop(18%,#3a3a3a), color-stop(61%,#2a2a2a), color-stop(80%,#272727), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #393939 0%,#3a3a3a 18%,#2a2a2a 61%,#272727 80%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #393939 0%,#3a3a3a 18%,#2a2a2a 61%,#272727 80%,#272727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #393939 0%,#3a3a3a 18%,#2a2a2a 61%,#272727 80%,#272727 100%); /* IE10+ */
	background: linear-gradient(top,  #393939 0%,#3a3a3a 18%,#2a2a2a 61%,#272727 80%,#272727 100%); /* W3C */
	-pie-background: linear-gradient(#393939 0%, #3a3a3a 18%, #2a2a2a 61%, #272727 80%, #272727 100%);
	filter: none;
}
.sf-menu li a {
	font: bold 14px/17px Arial, sans-serif;
	color: #fff;
	width:160px;
	text-align:center;
	text-transform: uppercase;
	padding:33px 0;
	background: url('../images/menu-separ.jpg') no-repeat 0 14px;
}
	
.sf-menu li a.first-last {
	width:150px;
}
.sf-menu li.active {
	background: #36c1c8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2YzFjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzM0YmZjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzJlYjljMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzIzYWNiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMWFhYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #36c1c8 0%, #34bfc6 40%, #2eb9c0 61%, #23acb4 88%, #21aab2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36c1c8), color-stop(40%,#34bfc6), color-stop(61%,#2eb9c0), color-stop(88%,#23acb4), color-stop(100%,#21aab2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #36c1c8 0%,#34bfc6 40%,#2eb9c0 61%,#23acb4 88%,#21aab2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #36c1c8 0%,#34bfc6 40%,#2eb9c0 61%,#23acb4 88%,#21aab2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #36c1c8 0%,#34bfc6 40%,#2eb9c0 61%,#23acb4 88%,#21aab2 100%); /* IE10+ */
	background: linear-gradient(top,  #36c1c8 0%,#34bfc6 40%,#2eb9c0 61%,#23acb4 88%,#21aab2 100%); /* W3C */
	-pie-background: linear-gradient(#36c1c8 0%, #34bfc6 40%, #2eb9c0 61%, #23acb4 88%, #21aab2 100%);
	filter: none;
}
.sf-menu li.active a {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background:none;
	color:#fff !important;
}
.sf-menu li a:hover, .sf-menu li.sfHover > a {
	color:#36c1c8;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 138px;
	padding: 18px 0 40px 0;
	background: url('../images/sub-menu-bg.jpg');
}
.sf-menu li li {
	margin:10px 0;
}
.sf-menu li li a {
	font-size:10px;
	line-height:16px;
	font-weight:normal;
	color: #989898;
	text-align:left;
	width:auto;
	padding: 0 5px 0 18px;
	background:none;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #fefefe;
}

.sf-menu ul ul {
	background: url('../images/sub-menu-bg-2.jpg');
	padding-top:14px;
	padding-bottom:20px;
}

	.sf-sub-indicator {
		text-indent: -999em;
		width: 7px;
		height: 4px;
		display:inline-block;
		background: url('../images/sub-indicator.png') no-repeat;
		position:absolute;
		left:50%;
		margin-left:-2px;
		bottom:25px;
	}
	.sf-menu li li a .sf-sub-indicator {display:none;}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.sf-menu li a {
		width:125px;
	}
		
	.sf-menu li a.first-last {
		width:124px;
	}
}
@media only screen and (max-width: 767px) {
	.sf-menu{float:none;}
	.sf-menu ul,.sf-menu ul ul {min-width:100%;position: relative; left: 0 !important; top:0px !important; padding:0;background:none;}
	.sf-menu li {float:none;}
	
	.sf-menu li a, .sf-menu li a.first-last {
		width:270px;
		text-align:left;
		padding:15px;
	}
	.sf-menu li li a {
		font-weight:bold;
		font-size:13px;
		line-height:40px;
		padding-left:40px;
	}
	.sf-menu li li li a {
		padding-left:60px;
	}
	.sf-sub-indicator {
		position:relative;
		left:8px;
		top:8px;
	}
	.sf-menu li li {margin:0;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sf-menu li a, .sf-menu li a.first-last {
		width:390px;
		text-align:left;
		padding:15px;
	}
}